
body .container .jumbotron, body .container-fluid .jumbotron {
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 0;
}

.cnt-body{
        padding-top:  55px;
}


.errors{
        color: #ed3131;
        font-weight: 500;
}


html, body {
    background-color: #efefef;
}


.cnt-body{
    background: rgba(0,0,0,0);
}


.container .well, body .container-fluid .well, body .container .jumbotron, body .container-fluid .jumbotron, body .container .well-default, body .container-fluid .well-default, body .container .jumbotron-default, body .container-fluid .jumbotron-default {
    background: #fff;
}

.navbar, .navbar.navbar-default {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255,255,255, 0.84);
}

// .nav-tabs {
//     background-color: rgba(0, 0, 0, 0.7);
// }


.help-block{
    color: #fff;
}


.btn{
    margin-top: 20px;
}

.header-ipn{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}


.sep-logo{
    background: url(../img/sep.png) no-repeat left;
    height: 80px;
    background-size: 200px;
}

.ipn-logo{
    background: url(../img/ipn.png) no-repeat right;
    height: 80px;
    background-size: 200px;
}

.right{
    text-align: right;
}


.menu-op{
    background: url(../img/menu.png) no-repeat center;
    height: 80px;
    width: 100%;
    background-size:100%;
}

h1{
    color: #fff;
}

.menu-cont{
    background: #ebebeb;
    margin-bottom: 40px;
}

.menu-top{
        background: #ddd;
        height: 5px;
        font-size: 20px;
}


// .form-control{
//     color: #fff;
// }

.menu-res{
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 99999;
    margin-bottom: 15px;
    font-size: 14px;
}

// .nav-tabs {
//     border-bottom: 1px solid rgba(0, 0, 0, 0.7);
// }

.row{
    color: #555;
}







.title-row{
    font-size: 12px;
}



.btn-input-file{
    margin-bottom: 80px;
}

.text-file{
    margin-top: -50px;
}


.title-principal{
    color: #fff;
    font-size: 14px;
    background-color: #555;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

// .table-striped>tbody>tr:nth-of-type(odd) {
//     background-color: rgba(0,0,0,0.5);
// }


// #table-user{
//         margin-top: 20px;
// }

// #table-user tbody td{
//         padding-top: 10px;
// }

// #table-user .btn-default{
//         background: #fff;
// }


#table-user tbody td a{
        margin-top: 0px;
}



// thead tr{
//         background-color: #6c1645;
// }



#actionbtn .btn-default {
    background: #fff;
}

.well{
        border: 1px solid #ddd;
        border-radius: 0.2rem;
}

.login-panel{
    padding: 50px;
}

.well-header{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -10px;
}

.header-title{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: -40px;
    text-align: center;
}


.btn-login{
    margin-top: 6px;
}
.btn-100{
    width: 100%;
}

.salir-btn{
    text-align: right;
}


// .list-group{
//     -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
//     box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
//     border-radius: 2px;
//     border: 0;
// }

// .list-group-item:first-child {
//     border-top-right-radius: 0rem;
//     border-top-left-radius: 0rem;
// }


// .list-group-item {
//     position: relative;
//     display: block;
//     padding: .75rem 1.25rem;
//     margin-bottom: -1px;
//     background-color: #fff;
//     border: 1px solid #ddd;
// }
// 
// 


