
body .container .well, body .container-fluid .well, body .container .jumbotron, body .container-fluid .jumbotron {
    background-color: #fff;
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 0;
}

.cnt-body{
        padding-top:  60px;
}


.errors{
        color: #ed3131;
        font-weight: 500;
}

.left-body{
    
}
