
body .container .well, body .container-fluid .well, body .container .jumbotron, body .container-fluid .jumbotron {
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 0;
}

.cnt-body{
        padding-top:  60px;
}


.errors{
        color: #ed3131;
        font-weight: 500;
}


html, body {
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.cnt-body{
    background: rgba(0,0,0,0);
}


body .container .well, body .container-fluid .well, body .container .jumbotron, body .container-fluid .jumbotron, body .container .well-default, body .container-fluid .well-default, body .container .jumbotron-default, body .container-fluid .jumbotron-default {
    background: rgba(0, 0, 0, 0.7);
}

.navbar, .navbar.navbar-default {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255,255,255, 0.84);
}

.nav-tabs {
    background-color: rgba(0, 0, 0, 0.7);
}


.help-block{
    color: #fff;
}


.btn{
    margin-top: 20px;
}

.header-ipn{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right{
    text-align: right;
}


.menu-op{
    background: url(../img/menu.png) no-repeat center;
    height: 80px;
    width: 100%;
    background-size:100%;
}

h1{
    color: #fff;
}

.menu-cont{
    background: #ebebeb;
    margin-bottom: 40px;
}

.menu-top{
        background: #e4e5e7;
        padding-top: 25px;
        height: 80px;
        font-size: 20px;
}


.form-control{
    color: #fff;
}

.menu-res{
    z-index: 99999;
}

.nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.row{
    color: #fff;
}


.inputs-form{
  margin-bottom: -30px;
  background: rgba(0, 0, 0, 0.2);
}




.inputs-form input{
  margin-top: -10px;
}
.row-bloque{
    margin-bottom: 100px;
}


.title-row{
    background: rgba(0, 0, 0, 0.7);
}

.btn-input-file{
    margin-bottom: 80px;
}

.text-file{
    margin-top: -50px;
}


.title-principal{
    color: #fff;
    font-size: 16px;
    background-color: #6c1645;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -18px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.5);
}


#table-user{
        margin-top: 20px;
}

#table-user tbody td{
        padding-top: 20px;
}

#table-user .btn-default{
        background: #fff;
}


#table-user tbody td a{
        margin-top: 0px;
}



thead tr{
        background-color: #6c1645;
}



#actionbtn .btn-default {
    background: #fff;
}
